@model EmsMvc.Models.LocalPasswordModel
<hgroup class="title">
    <h5>@Session["name"]</h5>    
</hgroup>
@using (Html.BeginForm("SaveChangedPassword", "TaviscaEMS"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <form action="SaveChangedPassword"  method="post">
    @Html.ActionLink("Logout", "Logout", "TaviscaEMS")&nbsp&nbsp&nbsp&nbsp&nbsp<br/>
    <fieldset>
        <legend>Change-Password Page</legend>
         <hgroup class="title">
                <h5>@ViewData["message"]</h5>    
         </hgroup>
        <ol>
            <li>
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
              
            </li>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
               
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
               
            </li>
        </ol>
        <input type="submit" value="Change password" />
    </fieldset>
         </form>
}
